@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-white: #ffffff;
    --foreground-black: #171717;
    --background-base: rgba(250, 250, 250, 1);

    /* primary colors */
    --primary-50: rgba(226, 232, 224, 1);
    --primary-100: rgba(201, 215, 204, 1);
    --primary-200: rgba(151, 183, 167, 1);
    --primary-300: rgba(100, 149, 128, 1);
    --primary-400: rgba(50, 117, 91, 1);
    --primary-500: rgba(0, 84, 52, 1);

    --primary2-400: rgba(84, 166, 134, 1);
    --primary2-500: rgba(43, 145, 106, 1);

    --primary-gradient-100: linear-gradient(180deg, #005434 0%, #2B916A 100%);
    --primary-gradient-400: linear-gradient(89deg, #005434 3.38%, #2B916A 99.09%);
    --primary-gradient-500: linear-gradient(270deg, #091410 0%, #2B916A 100%);
    --primary-gradient-600: linear-gradient(90deg, #2B916A 1.9%, #091410 100%);

    /* neutral colors */

    --neutral-50: rgba(241, 241, 241, 1);
    --neutral-100: rgba(215, 217, 217, 1);
    --neutral-200: rgba(166, 170, 169, 1);
    --neutral-300: rgba(107, 114, 112, 1);
    --neutral-400: rgba(58, 67, 64, 1);
    --neutral-500: rgba(9, 20, 16, 1);

    /* blue colors */

    --blue-300: rgba(54, 85, 155, 1);
    --blue-400: rgba(4, 42, 130, 1);
    --blue-500: rgba(0, 17, 55, 1);

    --blue-gradient: linear-gradient(180deg, #001137 0%, #042A82 100%);

    /* red colors */

    --red-200: rgba(230, 100, 111, 1);
    --red-300: rgba(251, 103, 103, 1);
    --red-400: rgba(248, 1, 1, 1);
    --red-500: rgba(169, 0, 0, 1);
    --red-600: rgba(94, 17, 19, 1);

    --red-gradient: linear-gradient(180deg, #A90000 0%, #F80101 100%);
    --red-gradient-100: linear-gradient(270deg, #E6646F 0.04%, #5E1113 98.93%);
    --red-gradient-200: linear-gradient(183deg, #E6646F 3.01%, #5E1113 98.69%);

    --footer-gradient: linear-gradient(339deg, #02643E 15.74%, #0B3424 88.12%);
    --notification-banner-gradient: linear-gradient(80deg, #2E9970 2.31%, #0B3424 103.09%);

    --border: rgba(242, 242, 242, 1);
  }

  /* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


  body {
    font-synthesis: none;
  }

  input[type='password']::-ms-reveal {
    display: none;
  }

}

.primary-gradient-100 {
  @apply bg-primary-gradient-100 bg-clip-text text-transparent;
  background-color: var(--primary-500);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.primary-gradient-400 {
  @apply bg-primary-gradient-400 bg-clip-text text-transparent;
  background-color: var(--primary-500);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.primary-gradient-500 {
  @apply bg-primary-gradient-500 bg-clip-text text-transparent;
  background-color: var(--primary-500);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.primary-gradient-600 {
  @apply bg-primary-gradient-600 bg-clip-text text-transparent;
  background-color: var(--primary-500);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.red-gradient-100 {
  @apply bg-red-gradient-100 bg-clip-text text-transparent;
  background-color: var(--red-500);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-gradient {
  @apply bg-blue-gradient bg-clip-text text-transparent;
}

.red-gradient {
  @apply bg-red-gradient bg-clip-text text-transparent;
}

.shadow-input {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.11) !important;
}

.text-shadow {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.24);
}

.auth-form-container {
  @apply py-10 md:py-17.5 px-4 md:px-12.5 flex items-center justify-center;
}

.auth-form-wrapper {
  @apply flex flex-col justify-center items-center md:items-start bg-skin-white space-y-6 md:space-y-8 p-5 md:p-7 w-full max-w-[800px] rounded-2xl md:rounded-[22px];
  box-shadow: 4px 4px 21px 0px rgba(0, 0, 0, 0.12);
}

.auth-button-wrapper {
  @apply flex items-center justify-center md:items-start gap-2.5 md:gap-3.5 px-3 md:px-4 py-2 md:py-3 bg-skin-base border border-skin-border rounded-[10px];
}

.btn {
  @apply py-2.5 md:py-3.5 font-semibold md:min-w-36 px-5 rounded-md md:!rounded-[10px] leading-none;
}

.primary-btn {
  @apply bg-primary-gradient-100 text-skin-white;
}

.primary-outline-btn {
  @apply primary-gradient-100 border-skin-primary-300;
}

.text-danger {
  @apply !text-skin-red-400;
}

.top-\[5\%\] {
  top: 28%;
}

input[type='search'] {
  @apply text-content-3 lg:text-title-2 font-normal lg:font-bold !important;
}

.slick-prev,
.slick-next {
  @apply w-6 h-6 sm:w-9 sm:h-9 lg:w-[50px] lg:h-[50px] border-solid border-2 md:border-3 border-skin-neutral-200 hover:bg-skin-neutral-100;
  z-index: 10;
  background: var(--neutral-50);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
  transform: translateY(-50%);
}

.slick-prev::before {
  @apply content-mob-left-arrow md:content-left-arrow;
}

.slick-next::before {
  @apply content-mob-right-arrow md:content-right-arrow;
}

.slick-prev::before,
.slick-next::before {
  font-size: 30px;
  opacity: 1;
  color: var(--neutral-200);
  line-height: 0;
}

.mobile-banner-carousel .slick-prev,
.mobile-banner-carousel .slick-next {
  display: none !important;
}

.mobile-banner-carousel .slick-dots li {
  margin: 0px;
}

.mobile-banner-carousel .slick-dots li button {
  width: 16px;
  height: 5px;
  padding: 0px;
  border-radius: 3.8px;
  background: rgba(169, 169, 169, 0.47);
}

.mobile-banner-carousel .slick-dots li.slick-active button {
  background: #A9A9A9;
}

.mobile-banner-carousel .slick-dots li button::before {
  display: none !important;
}

.feature-card {
  @apply flex flex-col gap-2 md:gap-3.5 px-1.5 md:px-2.5 py-3.5 md:py-6 items-center bg-skin-white border border-skin-neutral-100 shadow-card rounded-xl lg:rounded-20;
}

.section-slider .slick-slide {
  @apply max-sm:space-y-5 !h-fit !max-h-fit;
}

.section-slider .slick-slide div {
  @apply !h-fit !max-h-fit;
}

.section-slider.testimonial-slider .slick-slide div {
  @apply h-fit max-[430px]:max-h-[215px] max-h-[360px] !important;
}

.section-slider .slick-list {
  height: auto !important;
}
.section-slider .slick-track {
  height: auto !important;
}

.section-slider .slick-prev,
.section-slider .slick-next {
  @apply top-auto max-[390px]:-bottom-[7.3%] -bottom-[6.5%] sm:-bottom-[17%] md:-bottom-[15.5%] lg:-bottom-[16%] xl:-bottom-[14.7%] !important;
}

.section-slider .slick-prev {
  @apply left-[30%] md:left-[35%] lg:left-[36%] xl:left-[42%];
}

.section-slider .slick-next {
  @apply right-[30%] md:right-[35%] lg:right-[36%] xl:right-[42%];
}

.section-slider .slick-list {
  @apply pb-6 md:pb-8 xl:pb-12.5;
}

.section-slider .slick-dots li {
  margin: 0px;
}

.section-slider .slick-dots li button {
  @apply transition-transform duration-1000;
  width: 20px;
  height: 5px;
  padding: 0px;
  background: rgba(169, 169, 169, 0.47);
  transition: transform 500ms !important;
}

.section-slider .slick-dots li:first-child button {
  border-top-left-radius: 3.8px;
  border-bottom-left-radius: 3.8px;
}

.section-slider .slick-dots li:last-child button {
  border-top-right-radius: 3.8px;
  border-bottom-right-radius: 3.8px;
}

.section-slider .slick-dots li.slick-active button {
  background: #A9A9A9;
}

.section-slider .slick-dots li button::before {
  display: none !important;
}

.section-slider .slick-dots li.slick-active button {
  @apply transition-transform duration-1000;
  border-radius: 4px;
}

.section-slider .slick-prev::before,
.section-slider .slick-next::before {
  @apply max-sm:w-3 max-sm:h-3
}

.slick-slider .slick-list .slick-track {
  transition: transform 1000ms !important;
}

.section-slider.deals-slider .slick-prev,
.section-slider.deals-slider .slick-next {
  @apply top-auto max-[390px]:bottom-[-12.5%] bottom-[-11.5%] sm:bottom-[-15.5%] md:bottom-[-12.5%] lg:bottom-[-14.5%] xl:bottom-[-12.8%] !important;
}

.section-slider.products-slider .slick-prev,
.section-slider.products-slider .slick-next {
  @apply top-auto max-[390px]:bottom-[-6.6%] bottom-[-9%] sm:bottom-[-11.5%] md:bottom-[-9%] lg:bottom-[-11.5%] xl:bottom-[-9.6%] !important;
}


.section-slider.products-slider .slick-prev {
  @apply max-[390px]:left-[18%]
}

.section-slider.products-slider .slick-next {
  @apply max-[390px]:right-[18%]
}

.quantity {
  @apply w-16 h-4 md:w-24 md:h-6 text-[8px] md:text-content-2 font-semibold text-skin-white flex justify-start items-center pl-1 md:pl-2;
  flex-shrink: 0;
  border-radius: 10px 10px 10px 0px;
  background: linear-gradient(269deg, #5F1213 7.86%, #E7818B 99.16%);
  position: absolute;
  top: -2px;
  left: -8px;
  line-height: normal;
}

.quantity::before {
  @apply content-quantity-badge relative block -left-1 -bottom-3.5 md:-left-2 md:-bottom-[15.5px];
}

.new-product {
  @apply w-9 h-4 md:w-14 md:h-6 text-[8px] md:text-content-2 font-semibold text-skin-white flex justify-center items-center pl-2;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 10px;
  background: var(--Blue-Gradient-500, linear-gradient(180deg, #001137 0%, #042A82 100%));
  position: absolute;
  top: -2px;
  right: -8px;
  line-height: normal;
}

.new-product::after {
  @apply content-new-badge relative block -right-[2px] -bottom-3.5 md:-right-2 md:-bottom-[15.5px];
}

.section-slider.deals-slider .slick-list {
  @apply pb-3 md:pb-8 xl:pb-12.5;
}

.section-slider.products-slider .slick-list {
  @apply pb-3 md:pb-8 xl:pb-12.5;
}

.section-slider.testimonial-slider .slick-prev,
.section-slider.testimonial-slider .slick-next {
  @apply top-auto bottom-[-13.5%] sm:bottom-[-19%] md:bottom-[-12.5%] lg:bottom-[-16.5%] xl:bottom-[-13.9%] !important;
}

.section-slider.testimonial-slider .slick-list {
  @apply pb-3 md:pb-8 xl:pb-12.5;
}

.section-slider.testimonial-slider .slick-prev {
  @apply max-[390px]:left-[23%]
}

.section-slider.testimonial-slider .slick-next {
  @apply max-[390px]:right-[23%]
}

.product-listing-container {
  @apply px-4 lg:px-12.5 py-4.5 lg:py-10 flex gap-4.5 lg:gap-10
}

.section-slider.blogs-slider .slick-prev,
.section-slider.blogs-slider .slick-next {
  @apply top-auto max-[390px]:bottom-[-10%] bottom-[-9%]  sm:bottom-[-11.7%] md:bottom-[-10%] lg:bottom-[-10.6%] xl:bottom-[-9.6%] !important;
}


.section-slider.blogs-slider .slick-prev {
  @apply max-[390px]:left-[28%]
}

.section-slider.blogs-slider .slick-next {
  @apply max-[390px]:right-[28%]
}


.filter-drawer button[aria-label="Close"] {
  display: none;
}

.subscription-form div[data-slot="helper-wrapper"] {
  @apply bg-[#ffcdcd] backdrop-blur mt-2 rounded w-fit px-2 py-1;
  background: #ffcdcd;
  border: 1px solid red;
}

/* Styles for webkit-based browsers */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}